.progress {
  width: 5px; /* Ancho de la barra de progreso */
  height: 500px; /* Altura total de la barra de progreso */
  background-color: #e0e0e000; /* Color de fondo de la barra */
  position: relative;
  display: inline-block;
  
}
.progress-bar {
  width: 100%; /* Ancho completo de la barra de progreso NN*/
  background-color: #98a5ac; /* Color de la barra de progreso */
  position: absolute;
  bottom: 0; /* Alinea la barra al fondo */
}

.highlight-compare .progress-bar {
  background-color: red; /* Color para la barra i */
}
.highlight-actual .progress-bar {
  background-color: rgb(36, 62, 179); /* Color para la barra i */
}


.highlight-complete .progress-bar{
  background-color: #67a172;  
}


.progress {
  transition: height 0.5s ease; /* Transición suave */
}
